.pONE{
text-align: center;
font-size: 88px;
font-style: normal;
}
.imgE{
    position: relative;
     text-align: center;
     color: white;
}
.cen{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-170%,-80%);
    font-size: 60px;
    font-weight: 800;
}
.down-cen{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-95%);
    font-size: 25px;
}