.pONE{
text-align: center;
font-size: 88px;
font-style: normal;
}
.imgE{
    position: relative;
     text-align: center;
     color: white;
}
.cen{
    position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%,-50%);
        font-size: 60px;
}